<!-- <md-list flex>
  <md-subheader class="md-no-sticky">Afkar Docs</md-subheader>
  <md-list-item class="md-3-line" ng-repeat="item in ctrl.docs" ng-click="null">
    <img ng-src="{{item.img}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
    <div class="md-list-item-text" layout="column">
      <h3>{{ item.title }}</h3>
      <h4>{{ item.author }}</h4>
      <p>{{ item.message }}</p>
    </div>
  </md-list-item>
</md-list> -->

<input type="text" ng-model='twett'>
<md-button class="md-raised md-primary" ng-click='ctrl.insertTwett(twett)'>guardar</md-button>
<br>
<afkar-list ng-repeat='item in ctrl.twetts'  twett='item'></afkar-list>
