<div>
	<div layout="column" layout-align="center center">
		<p>Welcome to Afkar Telecom</p>	
		<p>{{ctrl.date}}</p>
		<p>{{ctrl.offset}}</p>
		<p>{{ctrl.timezone}}</p>
	</div>
	<div layout="row" layout-align="center center">
		<afkar-doc-list></afkar-doc-list>
	</div>
</div>